.topText{
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px solid #e2e4f2;
    margin: 2rem 5rem;
    padding: 2rem 0;
    font-weight: bolder;
    font-size: 4rem;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
